.header {
    line-height: 68px;
    position: fixed;
    z-index: 10;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    padding: 0;
    text-align: right;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1)
}

.header.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.header.animated.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp
}

.header.animated.slideDown {
    -webkit-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes unpinned {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(50px)
    }
}

@keyframes unpinned {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
}

@-webkit-keyframes pinned {
    0% {
        -webkit-transform: translateY(50px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes pinned {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-70px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-70px)
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px)
    }
}

@keyframes fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translateY(20px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}
